appdirs==1.4.3
beautifulsoup4==4.6.0
html5lib==1.0.1
Django==2.0.2
django-extensions==1.9.9
django-multiselectfield==0.1.8
django-sizefield==0.9.1
packaging==16.8
psycopg2-binary==2.7.4
pyparsing==2.2.0
pytz==2018.3
six==1.11.0
feedgen==0.6.1
feedparser==5.2.1
pycryptodome==3.4.11
-e git+https://github.com/cedadev/jasmin-ldap.git@v0.3#egg=jasmin-ldap
-e svn+https://svn.esc.rl.ac.uk/repos/jasmin_et/code/tags/0.3.1.3_Py3.6Specific#egg=et_tools
boto3==1.5.30
requests==2.18.4
